:root {
  font-family: system-ui, sans-serif;
  font-weight: normal;

  --grassColor: #067702;
  --skyColor: #69dee2;
  --textColor: #161313;
  --backgroundColor: #f1f1f1; 
  --warningColor: #ff0000;

  --menuBackground: hsla(240, 6%, 15%, 0.75);
  --menuText: hsla(0, 0%, 100%, 1);
  --menuBorderRadius: 0.5rem;

  --menuInputBackground: rgb(182, 182, 182);

  --startColor: #30882d;
  --resumeColor: #0011ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

html, body {
  height: 100%;
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  flex-shrink: 0;
  text-align: center;
}

header p {
  font-size: 2rem;
  font-weight: 900;
}

footer p {
  text-transform: uppercase;
  font-weight: 700;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#gameCanvas {
  width: 100%;
  height: 100%;
  max-height: 100%;
  pointer-events: none;
}

#ui {
  position: absolute;
  background-color: var(--menuBackground);
  border-radius: var(--menuBorderRadius);
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  color: var(--menuText);
  padding: 1rem;
  text-align: center;
  left: 1rem;
  top: 1rem;
  gap: 0.75rem;

  display: none;
}

#ui button {
  background-color: var(--menuText);
  border-radius: var(--menuBorderRadius);
  padding: 0.5rem;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  border: transparent;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

#ui button:hover, #ui button:focus-visible {
  background-color: var(--textColor);
  color: var(--backgroundColor);
  transform: scale(1.1);
}

#ui button:focus-visible {
  outline: 0.25rem solid var(--warningColor);
  outline-offset: 1px;
}

#ui label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--menuText);
  border-radius: var(--menuBorderRadius);
  padding: 0.5rem;
  color: black;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

#ui input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 0.5rem;
  background-color: var(--menuInputBackground);
  border-radius: var(--menuBorderRadius);
}

#ui input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  background: var(--textColor);
  cursor: pointer;
  border-radius: 100%;
}

#ui input::-moz-range-thumb {
  width: 0.75rem;
  height: 0.75rem;
  background: var(--textColor);
  cursor: pointer;
  border-radius: 100%;
}

#ui input:focus-visible {
  outline: transparent
}

#ui input:focus-visible::-webkit-slider-thumb {
  outline: 0.2rem solid var(--warningColor);
  outline-offset: 1px;
}

#ui input:focus-visible::-moz-range-thumb {
  outline: 0.2rem solid var(--warningColor);
  outline-offset: 1px;
}

.gameMenu {
  position: absolute;
  background-color: var(--menuBackground);
  margin: 5rem;
  border-radius: var(--menuBorderRadius);
  overflow: hidden;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--menuText);
  padding: 3rem 1.5rem;
  text-align: center;
}

#pauseMenu, #aboutMenu {
  display: none;
}

.submenu {
  background-color: var(--menuBackground);
  padding: 1rem;
  border-radius: var(--menuBorderRadius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 50%;
}

.menuButton {
  background-color: var(--menuText);
  border-radius: var(--menuBorderRadius);
  padding: 0.5rem;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2rem;
  cursor: pointer;
  border: transparent;
  font-family: inherit;
  transition: all 0.3s ease-in-out;
}

#btn-start:hover, #btn-start:focus-visible {
  background-color: var(--startColor);
  color: var(--menuText);
  transform: scale(1.1);
}

#btn-start:focus-visible {
  outline: 0.25rem solid var(--startColor);
  outline-offset: 5px;
}

#btn-resume:hover, #btn-resume:focus-visible, #btn-resume-2:hover, #btn-resume-2:focus-visible {
  background-color: var(--resumeColor);
  color: var(--menuText);
  transform: scale(1.1);
}

#btn-resume:focus-visible, #btn-resume-2:focus-visible {
  outline: 0.25rem solid var(--resumeColor);
  outline-offset: 5px;
}

#funFact h4 {
  font-size: 2rem;
  text-transform: uppercase;
  max-width: 75%;
}

#funFact p {
  max-width: 75%;
}

#aboutMenu .submenu p {
  max-width: unset;
  transition: all 0.3s ease-in-out;
}

#aboutMenu .submenu p a {
  color: var(--skyColor);
  transition: all 0.3s ease-in-out;
  border-radius: var(--menuBorderRadius);
}

#aboutMenu .submenu p a:hover, #aboutMenu .submenu p a:focus-visible{
  color: var(--warningColor);
  font-size: larger;
}

#aboutMenu .submenu p a:focus-visible{
  outline: 0.2rem solid var(--warningColor);
  padding-inline: 0.25rem;
  margin-inline: 0.25rem;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  #ui {
    padding: 0.5rem;
    display: none;
  }

  #ui button, #ui label {
    font-size: 0.75rem;
    padding: 0.25rem;
    font-weight: 900;
  }

  #ui input {
    width: 90%;
  }

  .gameMenu {
    padding: 1.5rem;
  }

  .gameMenu .submenu {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #ui {
    padding: 0.25rem;
    display: none;
  }

  #ui button, #ui label {
    font-size: 0.65rem;
    gap: 0.25rem;
  }

  header p span {
    display: none;
  }

  .gameMenu #funFact h3 span:first-of-type {
    width: 100%;
    display: block;
  }

  .gameMenu #funFact h3 span:last-of-type {
    display: none;
  }

  .gameMenu #funFact h4 {
    font-size: 1.25rem;
    max-width: 100%;
  }

  .gameMenu {
    margin: 1rem;
  }
}

@media screen and (max-width: 300px) {
  #ui {
    left: unset;
    width: 90%;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;
  }

  #ui button, #ui label {
    flex: 1 1 0px;
  }

  #ui label {
    order: 1;
    grid-column: span 2
  }

  .gameMenu #funFact {
    padding: 1rem;
  }

  .gameMenu #funFact h4 {
    font-size: 1rem;
    max-width: 100%;
  }

  .gameMenu #funFact h3 {
    font-size: 1rem;
    max-width: 100%;
  }

  .gameMenu {
    margin: 0.5rem;
    padding: 0.5rem;
  }

  .gameMenu h1 {
    font-size: 1.5rem;
  }

  .gameMenu .menuButton {
    font-size: 1.25rem;
  }
}